<a href="https://colab.research.google.com/github/Ccnick666/introduction-to-computer/blob/main/0608.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
list1=['國文成績:85分','數學成績:79分','英文成績:93分']
for s in list1:
  print(s)
  print()

國文成績:85分

數學成績:79分

英文成績:93分

In [8]:
list2=['編號1:姓名Tom:','編號2:姓名:Mary','編號3:姓名:Tony']
for a in list2:
  print(a)
  print()

編號1:姓名Tom:

編號2:姓名:Mary

編號3:姓名:Tony